/* 관리자 배경색 바꾸기 */
body {
    background-color: #f0f4f8 !important;
}

/* 상단바 색상 */
#header {
    background-color: #2c3e50 !important;
}

/* 타이틀 글자색 */
#site-name a {
    color: #f9f9f9 !important;
    font-weight: bold;
    font-size: 20px;
}
